{% extends "rental/layout.html"%}
{% block content %}

<div class="card text-white special-card">

    <div id = "header" class = "container text-center">
        <h1 class = "logo"> About </h1>
    </div>

    <div class = "row">

        <div class = col-3>

        </div>

            <div class = "col-6 ">
                <h4 class ="text-center">
                    A free and open source tool for rental property analysis!
                </h4>                       

                </br>
                </br>
                </br>
                </br>
            
            </br>
            </br>
            </br>

            </div>

        <div class = col-3>
            
        </div>

    </div>
    
</div>
  


{% endblock content %}