{% extends "rental/layout.html"%}
{% block content %}

  <!-- Map-->
  <div class="card mb-3">

    <div class="card-body">

        <div data-num="0">
            <div class="control-row">Type: <select class="selection"></select></div>
        </div>

        <!-- <div id="map"></div> -->
        <div id = main>
            <div id="map"></div>
        </div>
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
      

    </div>

    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    
  </div>

  <script>
  
    $('#sidebarCollapse').on('click', function() {

      //Not pretty but it works...
      setTimeout(function() {window.dispatchEvent(new Event('resize')); }, 302);

    })
   
  </script>

  <script src="https://rentalcontent.azureedge.net/staticcontent/map.js" type = "text/javascript"></script>

{% endblock content %}