{% extends "rental/layout.html"%}
{% block content %}
<div class="card text-white special-card h-100">
    <div id = "header" class = "container text-center">
        <h1 class ="logo"> Contact </h1>
    </div>

    <div class = "row">

        <div class = col-3>

        </div>

            <div class = "col-6 ">
                <h4 class ="text-center">
                    Under Construction
                </h4> 
            </br> 
            </br> 
            <p class = "text-center">
                Please email the author @ agordonmoss@gmail.com
            </p>
            </div>

        <div class = col-3>
                
        </div>

    </div>
 </div>           
            
{% endblock content %}