{% extends "rental/base.html"%}
{% block content %}

  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white o-hidden h-100">  
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white o-hidden h-100">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white o-hidden h-100">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white o-hidden h-100">
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>

  <div class = "row">

    <div class = "col-9">
      <!-- Bar Chart-->
      <div class="card mb-3">
        <div class="card-header">Monthly Rent per Community</div>

          <div class="card-body">
            <div data-num="0">
              <div class = "row">
                <div class="col-lg-12">
                  <div id="scatterplotdiv"></div>
                  <div class="control-row"> Type: <select class="selection"></select></div>
                </div>
              </div>
            </div>

          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
      </div>
    </div>

    <div class = "col-3">
      <!-- Pie Chart-->
      <div class="card mb-3">
        <div class="card-header">Listings per Community</div>
        <div class="card-body">

          <div data-num="1">
            <div class = "row">
                <div class="col-lg-12">
                  <div id="pieplotdiv"></div>
                  <div class="control-row">Type: <select class="selection"></select></div>
                </div>
              </div>
            </div>
          </div>

        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
  </div>

  <!--LinePlot-->
  <div class="card mb-3">
    <div class="card-header">Price Trends</div>
    <div class="card-body">
          <div id="lineplotdiv"></div>
      </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>

  <!--BoxPlot-->
  <div class="card mb-3">
    <div class="card-header">Price Distribution per City Quadrant</div>
    <div class="card-body">
        <div data-num="2">
          <div id="boxplotdiv"></div>
          <div class="control-row">Type: <select class="selection"></select>
          </div>
        </div>
      </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
  
  <div class = "row">
    
    <div class = "col-6"><!-- Histogram-->       
      <div class="card mb-3">
        <div class="card-header">Overall Price Distribution</div>
          <div class="card-body">

                <div data-num="3">
                  <div id="distplotdiv"></div>
                    <div class="control-row">Type: <select class="selection"></select></div>
                  </div>
                </div>
              <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
          </div>

          <div class = "col-6"> <!-- HeatMap-->      
            <div class="card mb-3">
              <div class="card-header">Correlation Map</div>
                <div class="card-body">
                  <div id = "heatdiv"></div> 
                </div>
              <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
          </div>


  <!-- On Resize -->
  <script src="https://testcss.azureedge.net/static/onResize.js" type = "text/javascript"></script> 

  <!-- for local -->
  {% load static %}
  <script type = "text/javascript" src="{% static 'line.js' %}"></script> 

  <!-- Chart Scripts -->
  <script src="https://testcss.azureedge.net/static/bar.js" type = "text/javascript"></script>  
  
  <script src="https://testcss.azureedge.net/static/pie.js" type = "text/javascript"></script>  

  <script src="https://testcss.azureedge.net/static/hist.js" type = "text/javascript"></script> 

  <script src="https://testcss.azureedge.net/static/box.js" type = "text/javascript"></script> 

  <script src="https://testcss.azureedge.net/static/heat.js" type = "text/javascript"></script>


{% endblock content %}
 