{% extends "rental/base.html"%}
{% block content %}


<div class="card text-white special-card h-100">

    <div id = "header" class = "container text-center">
        <h1> The Calgary Project </h1>
    </div>

    <h4>{{ domain.domain }} </h4> 

    <div class = "container">
        <div class = "row">
            <div class = col-3>
            </div>
                <div class = "col-6 ">
                    <h4 class ="text-center">
                        A free and open source tool for rental property analysis!
                    </h4>                       

                    </br>
                    </br>        
                    <p>
                        The Calgary Project is a proof of concept application for tracking and analyzing 
                        rental listings in Calgary. The foundation of the application is the Rentfaster.ca API. Through a carefull designed
                        ETL process, data from the API is retrieved, cleaned, and stored every day for an up to date and accurate analysis.
                    </p>
                    </br>              
                    <p>
                        Advanced statistical and enginerring procedures transform this data into an immersive visual 
                        and analytical experience for the user.                             
                    </p>
                </div>
            <div class = col-3>            
            </div>
        </div>
    </div>
</div>


{% endblock content %}