{% extends "rental/base.html"%}
{% block content %}


<div class="card text-white special-card h-100">

    <div id = "header" class = "container text-center">
        <h1> The Calgary Project </h1>
    </div>

    <h4>{{ domain.domain }} </h4> 

    <div class = "container">
        <div class = "row">
            <div class = "col-12 text-center">
                <h4 class ="text-center">
                        A free and open source tool for rental property analysis!
                </h4>   
            </div>
        </div>
        <div class = "row">
            <div class = col-3>
            </div>
                <div class = "col-6 ">
                   
                    </br>
                    </br>        
                    <p>
                        The Calgary Project is a free and open source web app for analyzing Calgary's rental market. 
                        The application collects rental listing information from Rentfaster.ca and transforms 
                        it into an immersive analytical experience. 
                    </p>
                    </br>              
                    <p>
                            Interactive charts, maps, and metrics allow you to evaluate trends, discrepancies,  
                            and opportunities in the marketplace. Data is updated daily for a consistently relevant experience.                                                  
                    </p>
                    </br>
                    <p>
                        This project is currently in its infancy. New features and improvements are being added daily.
                        Feedback and user involvement is highly encouraged. Please leave your thoughs, 
                        advice, and inquiries in the contact menu. 
                    </p>
                    </br>
                    </br> 
                    </br>
                    </br>

                </div>
            <div class = col-3>            
            </div>
        </div>
    </div>
</div>


{% endblock content %}