{% extends "rental/base.html"%}
{% block content %}

  <!-- Map-->
  <div class="card mb-3">

    <div class="card-body">

        <div id="map"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
      
        <!-- {% load static %}
        <script src="{% static "rental/map.js" %}" type="text/javascript"></script> -->
        <script src="https://testcss.azureedge.net/static/map.js" type = "text/javascript"></script> 

    </div>

    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    
  </div>

{% endblock content %}